<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Pie - List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        main {
            padding-bottom: 100px; /* 푸터 높이만큼 여백 추가 */
        }
        .footer {
            bottom: 0;
            width: 100%
             position : relative;
  transform : translateY(-100%);
        }
        #wrapper{
         height: auto;
  min-height: 100%;
        }
        body {
    font-family: 'Your Font Name', sans-serif; /* 여기에 원하는 폰트를 지정하세요 */
    font-size: 16px; /* 폰트 크기를 조절할 수도 있습니다 */
    /* 다른 원하는 스타일도 추가 가능합니다 */
}

    </style>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <main class="container">
        <h1 class="mt-5">게시글 목록</h1>
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <span>게시글번호</span>
                    </div>
                    <div class="col-sm-6">
                        <span>게시글제목</span>
                    </div>
                </div>
            </li>
            <!-- Display each board as a list item -->
            <li th:each="board : ${boards}" class="list-group-item">
                <a th:href="@{'/boards/detail/' + ${board.id}}">
                    <div class="row">
                        <div class="col-sm-6">
                            <span th:text="${board.id}"></span>
                        </div>
                        <div class="col-sm-6">
                            <span th:text="${board.title}"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <!-- Writing link -->
        <a href="/boards/new" class="btn btn-primary mt-4">글쓰기</a>
    </main>
<div id="wrapper">
    <div class="footer" th:replace="fragments/footer :: footer" />
</div>
</div>
</body>
</html>
