<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/" class="text-muted"><h2>BEST PIE</h2></a></li>
    </ul>
    <div class="container text-center">
        <div class="row" style="text-align: left">
            <div class="col">
                <a href="/"><h3 class="text-muted">Community List</h3></a>
            </div>
            <div class="col">
                <a href="/boards/list"><h3 class="text-muted">Board List</h3></a>
            </div>
        </div>
    </div>
</div>